<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sichuang.couponPO.mappers.BatMediaExpireReissuseInterestMapper">
  <resultMap id="BaseResultMap" type="com.sichuang.couponPO.po.BatMediaExpireReissuseInterest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="next_reissue_date" jdbcType="DATE" property="nextReissueDate" />
    <result column="branch_no" jdbcType="VARCHAR" property="branchNo" />
    <result column="process_date" jdbcType="DATE" property="processDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, card_no, next_reissue_date, branch_no, process_date, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bat_media_expire_reissuse_interest
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bat_media_expire_reissuse_interest
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sichuang.couponPO.po.BatMediaExpireReissuseInterest">
    insert into bat_media_expire_reissuse_interest (id, card_no, next_reissue_date, 
      branch_no, process_date, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{cardNo,jdbcType=VARCHAR}, #{nextReissueDate,jdbcType=DATE}, 
      #{branchNo,jdbcType=VARCHAR}, #{processDate,jdbcType=DATE}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sichuang.couponPO.po.BatMediaExpireReissuseInterest">
    insert into bat_media_expire_reissuse_interest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="nextReissueDate != null">
        next_reissue_date,
      </if>
      <if test="branchNo != null">
        branch_no,
      </if>
      <if test="processDate != null">
        process_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="nextReissueDate != null">
        #{nextReissueDate,jdbcType=DATE},
      </if>
      <if test="branchNo != null">
        #{branchNo,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        #{processDate,jdbcType=DATE},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sichuang.couponPO.po.BatMediaExpireReissuseInterest">
    update bat_media_expire_reissuse_interest
    <set>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="nextReissueDate != null">
        next_reissue_date = #{nextReissueDate,jdbcType=DATE},
      </if>
      <if test="branchNo != null">
        branch_no = #{branchNo,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        process_date = #{processDate,jdbcType=DATE},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sichuang.couponPO.po.BatMediaExpireReissuseInterest">
    update bat_media_expire_reissuse_interest
    set card_no = #{cardNo,jdbcType=VARCHAR},
      next_reissue_date = #{nextReissueDate,jdbcType=DATE},
      branch_no = #{branchNo,jdbcType=VARCHAR},
      process_date = #{processDate,jdbcType=DATE},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>